<footer>
    <div class="footer-area">
        <div class="footer-company">
            <div class="footer-company-name">an <strong>CMDb</strong> company</div>
            <div class="footer-copyright"><span class="copy">Copyright © </span>1990-2019 </div>
        </div>
        <div class="footer-link-area">
            <div class="footer-links">
                <h5 class="footer-link-title">Prime Video</h5>
                <ul class="link-item">
                    <li>Unlimited Streaming</li>
                    <li>Unlimited Streaming</li>
                </ul>
            </div>
            <div class="footer-links">
                <h5 class="footer-link-title">Prime Video</h5>
                <ul class="link-item">
                    <li>Unlimited Streaming</li>
                    <li>Unlimited Streaming</li>
                </ul>
            </div>
            <div class="footer-links">
                <h5 class="footer-link-title">Prime Video</h5>
                <ul class="link-item">
                    <li>Unlimited Streaming</li>
                    <li>Unlimited Streaming</li>
                </ul>
            </div>
            <div class="footer-links">
                <h5 class="footer-link-title">Prime Video</h5>
                <ul class="link-item">
                    <li>Unlimited Streaming</li>
                    <li>Unlimited Streaming</li>
                </ul>
            </div>
            <div class="footer-links">
                <h5 class="footer-link-title">Prime Video</h5>
                <ul class="link-item">
                    <li>Unlimited Streaming</li>
                    <li>Unlimited Streaming</li>
                </ul>
            </div>
            <div class="footer-links">
                <h5 class="footer-link-title">Prime Video</h5>
                <ul class="link-item">
                    <li>Unlimited Streaming</li>
                    <li>Unlimited Streaming</li>
                </ul>
            </div>

        </div>
    </div>
</footer>
