.search-movie-result {
    margin: 0 auto;
    max-width: 1140px;
}

.odd {
    display: flex;
    background-color: rgb(238, 243, 245);
    border: 1px solid #767a80;
}

.even {
    display: flex;
    background-color: rgb(226, 230, 231);
    border: 1px solid #767a80;
}


.movie-result-img {
    display: inline-block;
    width: 10%;
    padding: 1rem;
}

.movie-result-img img {
    width: 100%;
}

.movie-result-info {
    display: inline-block;
    width: 90%;
}
