<section>
    <div class="search-movie-result">
        <h1 class="search-movie-title">Movie with {{searchStar1}},{{searchStar2}}</h1>
        <div *ngFor="let movie of movieData;let i=index;let even=even;let odd=odd" [ngClass]="{ odd: odd, even: even }">
            <div class="movie-result-img">
                <img [src]="movie.poster">
            </div>
            <div class="movie-result-info">
                <h3 class="movie-info-title">{{i+1}}. {{movie.title}} / {{movie.type}}</h3>
                <h4 class="movie-info-sub">{{movie.rated}}|{{movie.runtime}}|{{movie.genre}}</h4>
                <h4 class="movie-info-rating">{{movie.ratings}}</h4>
                <p class="movie-info-plot">{{movie.plot}}</p>
                <small class="movie-info-people"> <span>Director: </span>{{movie.director}}|</small>
                <small>Actors: </small>
                <small class="movie-info-people" *ngFor="let actor of movie.actors">
                    <!-- <a href="/star/{{actor.id}}"> {{actor.name}}</a> -->
                    <a routerLink="/star/{{actor.id}}"> {{actor.name}}</a>
                </small>
            </div>
        </div>
    </div>
</section>
