.search-star-result {
    margin: 0 auto;
    max-width: 1140px;
}

.odd {
    display: flex;
    background-color: rgb(238, 243, 245);
    border: 1px solid #767a80;
}

.even {
    display: flex;
    background-color: rgb(226, 230, 231);
    border: 1px solid #767a80;
}


.search-star-image {
    display: inline-block;
    width: 10%;
    padding: 1rem;
}

.search-star-image img {
    width: 100%;
}

.star-result-info {
    display: inline-block;
    width: 90%;
}
.star-info-sub{
    font-weight: 300;
}
.star-info-born{
    font-weight: 300;
}
